<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Title</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">

    <!-- Theme CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!--JQuery Mobile CSS -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Ir para página</a></div>

    <!-- Header -->
    <header>
       <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Cadastro</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <form name="formCadastro" method="post" id="form" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="nome">Nome</label>
                                <input type="text" class="form-control" placeholder="Seu nome" id="nome" required data-validation-required-message="Informe-nos seu nome, por favor.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" placeholder="Seu endereço de e-mail" id="e-mail" required data-validation-required-message="Informe-nos seu e-mail, por favor.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="senha">Senha</label>
                                <input type="password" class="form-control" placeholder="Sua senha" id="senha" required data-validation-required-message="Insira uma senha">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="confirmaSenha">Confirmação da senha</label>
                                <input type="password" class="form-control" placeholder="Confirme sua senha" id="senhaConf" required data-validation-required-message="Confirme sua senha">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="vestibular">Vestibular</label>
                                <input type="text" class="form-control" placeholder="Qual vestibular você vai fazer esse ano?" id="vestibular">
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="cidade">Cidade</label>
                                <input type="cidade" class="form-control" placeholder="Cidade (opcional)" id="localidade">
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="bio">Sobre você</label>
                                <textarea rows="3" class="form-control" placeholder="Faça uma breve descrição sobre você" id="descricao" required data-validation-required-message="Escreva um pouquinho sobre você"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <p><br>Conte-nos seus interesses</p>
                        <hr class="star-primary">

                        <div class="ui-field-contain">
                        <fieldset data-role="controlgroup" align="left">
                          <p align = "left">Diga em quais áreas você é bom</p>
                            
                            <input type="checkbox" name="favcolor" id="humanas" value="portugues">
                            <label for="red">Humanas</label><br>
                            
                            <input type="checkbox" name="favcolor" id="exatas" value="matematica">
                            <label for="matematica">Exatas</label><br>
                            
                            <input type="checkbox" name="favcolor" id="biologia" value="fisica">
                            <label for="fisica">Biológicas</label><br>

                            <input type="checkbox" name="favcolor" id="redacao" value="quimica">
                            <label for="quimica">Redação</label><br>
                            
                        </fieldset>
                      </div>

                      <br>
                      <div class="ui-field-contain">
                        <fieldset data-role="controlgroup" align="left">
                          <p align = "left">Quais áreas você precisa aprender?</p>
                            
                            <input type="checkbox" name="favcolor" id="lhumanas" value="portugues">
                            <label for="red">Humanas</label><br>
                            
                            <input type="checkbox" name="favcolor" id="lexatas" value="matematica">
                            <label for="matematica">Exatas</label><br>
                            
                            <input type="checkbox" name="favcolor" id="lbiologicas" value="fisica">
                            <label for="fisica">Biológicas</label><br>

                            <input type="checkbox" name="favcolor" id="lredacao" value="quimica">
                            <label for="quimica">Redação</label><br>

                        </fieldset>
                      </div>
                      <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Confirmar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    </header>
    <!-- Scroll to Top Button -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/freelancer.min.js"></script>
    <script type="text/javascript" src="sliding.form.js"></script>

	<!--Get/Post -->
     <script>
        $(document).ready(function(){
                $('form').submit(function(e){
                    e.preventDefault();
                    var email = $('#e-mail').val().trim();
                    var senha = $('#senha').val().trim();
                    var nome = $('#nome').val().trim();
					var descricao = $('#descricao').val().trim();
					var localidade = $('#localidade').val().trim();
					var vestibular = $('#vestibular').val().trim();
					
					var humanas = ($('#humanas').is(':checked'));
					var exatas = ($('#exatas').is(':checked'));
					var biologicas = ($('#biologicas').is(':checked'));
					var redacao = ($('#redacao').is(':checked'));
					
					var lhumanas = ($('#lhumanas').is(':checked'));
					var lexatas = ($('#lexatas').is(':checked'));
					var lbiologicas = ($('#lbiologicas').is(':checked'));
					var lredacao = ($('#lredacao').is(':checked'));

                    $.post("/usuario", JSON.stringify({
                            'email': email,
                            'senha': senha,
							'nome': nome,
							'descricao': descricao,
							'localidade': localidade,
							'vestibular': vestibular,
							
							'humanas': humanas,
							'exatas': exatas,
							'biologicas': biologicas,
							'redacao': redacao,
							
							'lhumanas': lhumanas,
							'lexatas': lexatas,
							'lbiologicas': lbiologicas,
							'lredacao': lredacao
                        }),
                        function(data){ 
                            if(data[0].status == 1){
								//alert('OK');
								window.location.href = 'index.html';
							}else{
								alert('Fail');
							}
                        },
                        "json");
                });
            });
    </script>



</body>

</html>
