<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Title</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">

    <!-- Theme CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!--JQuery Mobile CSS -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Ir para página</a></div>



    <!-- Header -->
    <header>
       <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Cadastro</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <form name="formCadastro" id="formCadastro" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="nome">Nome</label>
                                <input type="text" class="form-control" placeholder="Seu nome" id="nome" required data-validation-required-message="Informe-nos seu nome, por favor.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" placeholder="Seu endereço de e-mail" id="email" required data-validation-required-message="Informe-nos seu e-mail, por favor.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="senha">Senha</label>
                                <input type="password" class="form-control" placeholder="Sua senha" id="senha" required data-validation-required-message="Insira uma senha">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="confirmaSenha">Confirmação da senha</label>
                                <input type="password" class="form-control" placeholder="Confirme sua senha" id="senha" required data-validation-required-message="Confirme sua senha">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="vestibular">Vestibular</label>
                                <input type="text" class="form-control" placeholder="Qual vestibular você vai fazer esse ano?" id="vestibular">
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="cidade">Cidade</label>
                                <input type="cidade" class="form-control" placeholder="Cidade (opcional)" id="cidade">
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="bio">Sobre você</label>
                                <textarea rows="3" class="form-control" placeholder="Faça uma breve descrição sobre você" id="bio" required data-validation-required-message="Escreva um pouquinho sobre você"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <p><br>Conte-nos seus interesses</p>
                        <hr class="star-primary">

                        <div class="ui-field-contain">
                        <fieldset data-role="controlgroup" align="left">
                          <p align = "left">Diga em quais áreas você é bom</p>
                            
                            <input type="checkbox" name="favcolor" id="portugues" value="portugues">
                            <label for="red">Português</label><br>
                            
                            <input type="checkbox" name="favcolor" id="matematica" value="matematica">
                            <label for="matematica">Matemática</label><br>
                            
                            <input type="checkbox" name="favcolor" id="fisica" value="fisica">
                            <label for="fisica">Física</label><br>

                            <input type="checkbox" name="favcolor" id="quimica" value="quimica">
                            <label for="quimica">Quimíca</label><br>
                            
                            <input type="checkbox" name="favcolor" id="historia" value="historia">
                            <label for="historia">História</label><br>
                            
                            <input type="checkbox" name="favcolor" id="geografia" value="geografia">
                            <label for="geografia">Geografia</label><br>

                            <input type="checkbox" name="favcolor" id="biologia" value="biologia">
                            <label for="biologia">Biologia</label><br>
                            
                            <input type="checkbox" name="favcolor" id="ingles" value="ingles">
                            <label for="ingles">Ingles</label><br>
                            
                            <input type="checkbox" name="favcolor" id="espanhol" value="espanhol">
                            <label for="espanhol">Espanhol</label><br>

                            <input type="checkbox" name="favcolor" id="redacao" value="redacao">
                            <label for="redacao">Redação</label><br>

                        </fieldset>
                      </div>

                      <br>
                      <div class="ui-field-contain">
                        <fieldset data-role="controlgroup" align="left">
                          <p align = "left">Quais áreas você precisa aprender?</p>
                            
                            <input type="checkbox" name="favcolor" id="lportugues" value="portugues">
                            <label for="red">Português</label><br>
                            
                            <input type="checkbox" name="favcolor" id="lmatematica" value="matematica">
                            <label for="matematica">Matemática</label><br>
                            
                            <input type="checkbox" name="favcolor" id="lfisica" value="fisica">
                            <label for="fisica">Física</label><br>

                            <input type="checkbox" name="favcolor" id="lquimica" value="quimica">
                            <label for="quimica">Quimíca</label><br>
                            
                            <input type="checkbox" name="favcolor" id="lhistoria" value="historia">
                            <label for="historia">História</label><br>
                            
                            <input type="checkbox" name="favcolor" id="lgeografia" value="geografia">
                            <label for="geografia">Geografia</label><br>

                            <input type="checkbox" name="favcolor" id="lbiologia" value="biologia">
                            <label for="biologia">Biologia</label><br>
                            
                            <input type="checkbox" name="favcolor" id="lingles" value="ingles">
                            <label for="ingles">Ingles</label><br>
                            
                            <input type="checkbox" name="favcolor" id="lespanhol" value="espanhol">
                            <label for="espanhol">Espanhol</label><br>

                            <input type="checkbox" name="favcolor" id="lredacao" value="redacao">
                            <label for="redacao">Redação</label><br>

                        </fieldset>
                      </div>
                      <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Confirmar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    </header>
    <!-- Scroll to Top Button -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/freelancer.min.js"></script>
    <script type="text/javascript" src="sliding.form.js"></script>




</body>

</html>
